@charset "UTF-8";
#subject{
    color :black;
    font-size: 120%;
}
h1{
    font-weight: bold;
    font-size: 150%;
    background-color: green;
    color: black;
}
h2{
    font-size: 120%;
    color: black;
}
h3{
    font-size: 100%;
    color: black;
}

.toptitle{
    display: flex;
}
.wrapper {
    display: flex;
}
.toplogo {
    width: 30%;
    height: 60px;
}
.boxissue {
    width: 20%;
}
.boxdata {
    width: 80%;
}


