@charset "UTF-8";
h1{
    font-weight: bold;
    font-size: 150%;
    background-color: #81f79f;
    color: black;
}

h2{
    font-weight: bold:
    font-size: 120%;
    color: black;
}

h3{
    font-weight: bold;
    font-size: 100%;
    color: black;
}

.main-text{
    font-size: 100%
    font-weight: normal;
    color: black;
}

.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.box-logo{
    flex-basis: 30%;
}

.box-title{
    flex-basis: 70%;
}

.box-date{
    flex-basis: 20%;
    height: auto;
}

.box-contents{
    flex-basis: 80%;
    height: auto;
}

.box-mail{
    width: 640px;
    border: 1px solid #008b8b;
    background-color: #e0ffff;
}

.box-img{
    width: 640px;
    text-align: center;
    background-color: #e0ffff;
}





