@charset "UTF-8";
#subject{
    color :black;
    font-size: 120%;
}
h1{
    font-weight: bold;
    font-size: 150%;
    background-color: green;
    color: black;
}
h2{
    font-size: 120%;
    color: black;
}
h3{
    font-size: 100%;
    color: black;
}

.wrapper {
    display: flex;
}
.boxlogo {
    width: 20%;
}
.boxtitle {
    width: 80%;
}
img {
    height: 100%;
    width: 100%;
}
.cover {
    object-fit: cover;
}
.contain {
    object-fit:contain;
}

